* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: transparent;
}

button {
  border-radius: 0;
  border-color: rgba(12, 12, 12, 0);
  text-decoration-color: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:active,
button:hover {
  background-color: rgba(241, 148, 138, 0.5);
  outline-style: none;
  background-size: 35%;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}

button:focus {
  background-color: rgba(241, 148, 138, 0.5);
  outline-style: none;
  background-size: 35%;
  margin-top: -30px;
  margin-bottom: -30px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
}


#lock {
  background-image: image(url("icons/lock_white.png"), url("/usr/local/share/wlogout/icons/lock.png"));
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#logout {
  background-image: image(url("icons/logout_white.png"), url("/usr/local/share/wlogout/icons/logout.png"));

}

#suspend {
  background-image: image(url("icons/suspend_white.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("icons/hibernate_white.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("icons/shutdown_white.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("icons/reboot_white.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
