window {
    background-image: url("/home/fixmin/.config/hypr/images/1.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: rgba(255,255,255,0.1);
}

#window-box {
	padding: 64px;
	border: 0px solid black;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
	background-color: rgba(255,255,255,0.6);
}

#input-field {
	background-color: rgba(255,255,255,0.1);

}

#clock-label {
  color: rgba(0,0,0,0.8) ;
}
