* {
  font-family: "JetBrainsMono Nerd Font";

}

#window {
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  color: rgba(255, 255, 255, 1.000);
}

#entry {
  background-color: rgba(0, 0, 0, 0.0);
  color: rgba(255, 255, 255, 1.000);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  caret-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  border-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 10px;
  margin-bottom: -10px;
  padding: 20px;
  border-bottom-color: rgba(255, 255, 255, 1);
}

#match {
  color: rgba(255, 255, 255, 1.000);
}

box#main {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.6);
}

list#main {
  background-color: rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);
  border-width: 0px;
  margin: 10px;
  font-size: 18px;
  border-width: 0px;
}

list#main row:selected {
  background-color: rgba(255, 255, 255, 0.0);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.6);
}

list#main row:hover {
  background-color: rgba(255, 255, 255, 0.0);
  border-width: 10px;
  border-color: rgba(0, 0, 0, 1);
  box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.0), 2px 2px 5px rgba(0, 0, 0, 0.0);
}


list#plugin {
  background-color: rgba(0, 0, 0, 0);
}

label#match-desc {
  font-size: 10px;
}

label#plugin {
  font-size: 14px;
}
